<!DOCTYPE html>
<html>

<body>
<style>

ol.c {
  list-style-type: upper-roman;
}

</style>
<h1>Here lesson 6 </h1>

<ul class="c">
    {% for item in list %}
        <li>{{item}}</li>
    {% endfor%}
</ul>

</body>
</html>